pandas
numpy
gymnasium
scikit-learn
joblib
matplotlib
seaborn
streamlit
langchain
langchain-core
langchain-classic
langchain-community
langchain-huggingface
sentence-transformers
huggingface-hub
python-dotenv
torch
torchvision
pydantic
grandalf
pypdf
langchain-experimental
langchain-text-splitters